entry {
    font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-shadow: true;
    border: 10px;
   
    
}
img {
    position: absolute;
    z-index: 1;
    width:200px;
    opacity:0.818;
    -webkit-animation: movein 3s;  
}

@-webkit-keyframes movein{
from {
    top:500px;
}
to {
    top:10px;
    }
}


imgtext {
    position: relative;
    z-index: 2;
    top: 200px;
    color: white; 
    font: bold 24px/15px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px; 
    -webkit-animation: fade 3s;     
}

@-webkit-keyframes fade{
from {
    opacity:0;
}
to {
    opacity:1;
    }
}
    

th {
    margin:auto;
    font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    text-align: center;
   

}
td {
    width:200px;
}

