entry {
    font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-shadow: true;
    border: 10px;
   
    
}
img {
    position: absolute;
    z-index: 1;
    width:auto;
    height:284px;
    opacity:0.818;
}

img:hover{
     opacity: 0.4;
    -webkit-animation: fadeout 5s; 
    -moz-animation:    fadeout 5s; 
    -o-animation:      fadeout 5s; 
    animation:         fadeout 5s;   
}

div:not(.imgtext){
    width:67%;
    margin: auto;
}

head.p{
    font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-shadow: true;
    border: 10px;
}

p {
    word-wrap: normal;
}


#pic1{
    opacity:0.75;
}
#pic2{
    -webkit-animation:movein 3s;
}
#pic3{
    -webkit-animation:movein 1s;
}

@-webkit-keyframes movein{
from {-webkit-transform:translate(0px, 1000px)}
  to   {-webkit-transform:translate(0px, 0px)}
}

h1{
    text-align: center;   
}
#title {
     font: bold 15px/10px Helvetica, Sans-Serif; 
}

a:link{
text-decoration: none;   
}
.imgtext {
    position: relative;
    z-index: 2;
    top:200px;
    color: white; 
    font: bold 24px/15px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(70, 63, 63);
    padding: 5px; 
    -webkit-animation: fadein 5s; 
    -moz-animation:    fadein 5s; 
    -o-animation:      fadein 5s; 
    animation:         fadein 5s; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.titletext{
    color: white; 
    font: bold 24px/15px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(70, 63, 63);
    padding: 5px; 
    -webkit-animation: fadein 5s; 
    -moz-animation:    fadein 5s; 
    -o-animation:      fadein 5s; 
    animation:         fadein 5s;     
}
#name{
    -webkit-animation: fadein 10s; 
    -moz-animation:    fadein 10s; 
    -o-animation:      fadein 10s; 
    animation:         fadein 10s;   
    top: 250px;
    color:#fff;
    letter-spacing: 1px; 
    font-weight: 700;
    -webkit-animation: color_change 5s; 
    -moz-animation:    color_change 5s; 
    -o-animation:      color_change 5s; 
    animation:         color_change 5s; 
    background: rgba(106, 106, 106, 0.7);

}
#highlight{
    font-weight: bold;
}


@-webkit-keyframes color_change {
  0%   { color:#000; }
  100% { color:#fff;}
}
@-moz-keyframes color_change {
    0% { color:#000; }
  100% { color:#fff;}
}
@-o-keyframes color_change {
  0%   { color:#000; }
  100% { color:#fff;}
}
@keyframes color_change {
  0%   { color:#000; }
  100% { color:#fff;}
}

@-webkit-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0.4; }
}
@-moz-keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0.4; }
}
@-o-keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0.4; }
}
@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0.4; }
}




@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

th {
    margin:auto;
    font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    text-align: center;
   

}
td {
    width:200px;
}

